<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">#</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="cadastroAluno">Inscrição</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="alterarInscricao">Alterar Inscrição</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="ListaDeInscritosWeb">Lista de inscritos para WEB</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="ListaDeInscritosMobile">Lista de inscritos para MOBILE</a>
                </li>
            </ul>
            <span class="navbar-text">
                <b></b>
            </span>
        </div>
    </nav>     
</div>
